.main{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 500px;
}

.todo{
    display: flex;
    justify-content: space-between;
    width: 700px;
}

.todoName{
    width: 400px;
    text-align: left;
}

.todoDate{
    width: 100px;
}

.doneCheck{
    width: 100px;
}